<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find brachiograph_description)/config/controller.yaml" command="load"/> <!-- ns="brachiograph" -->

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/brachiograph" args="joint_state_controller
                                                 joint1_position_controller 
                                                 joint2_position_controller 
                                                 joint3_position_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" 
        respawn="false" output="screen">
    <remap from="/joint_states" to="/brachiograph/joint_states"/>
  </node>

  <!-- From Polar Arm: -->
  <!-- <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" 
        respawn="false" output="screen" args="load joint_group_position_controller"/> -->
</launch>