<launch>
  <!-- Launch gazebo -->
  <include file="$(find brachiograph_description)/launch/gazebo.launch"/>

  <!-- Launch ros controllers -->
  <include file="$(find brachiograph_description)/launch/controller.launch"/>

  <!-- Run joint controller program -->
  <node name="joint_controller" pkg="brachiograph_simulation" type="joint_controller" output="screen"/>

</launch>
